/**
 *  Modifications to datepicker to make more mobile friendly
 *
**/
.vdp-datepicker .vdp-datepicker__calendar {
  font-size: .85rem;
  max-width: 100%;
  width: 230px;

  @screen sm {
    font-size: 1rem;
    width: 300px;
    font-size: 1rem;
  }

  .cell {
    height: 32px;
    line-height: 32px;

    &.day-header {
      height: 28px;
      line-height: 28px;
    }

    @screen sm {
      height: 40px;
      line-height: 40px;

      &.day-header {
        height: 40px;
        line-height: 40px;
      }
    }
  }

  .header {
    line-height: 28px;

    @screen sm {
      height: 40px;
      line-height: 40px;
    }
  }

}